<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715149760424-sa18ig3bkrn32lljtek126g5bru7sa12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715149760424-sa18ig3bkrn32lljtek126g5bru7sa12</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715149760424-qvcs9rc9abcm0o6ke5hm1tjqc1tkbemg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIO-7cVcNcH5VbAT-oEsPjbMjgkw3W9w</string>
	<key>GCM_SENDER_ID</key>
	<string>715149760424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.dolphinstudio.fitmix</string>
	<key>PROJECT_ID</key>
	<string>fitt-mix</string>
	<key>STORAGE_BUCKET</key>
	<string>fitt-mix.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715149760424:ios:48418b09e8646fdee02f9d</string>
	<key>DATABASE_URL</key>
	<string>https://fitt-mix.firebaseio.com</string>
</dict>
</plist>